In [7]:
import skeletor as sk
import numpy as np
import trimesh as tr
import navis

mesh = tr.load_mesh("quick_start/17872_remesh.obj")
cont = sk.contract(mesh,iter_lim=4)
swc = sk.skeletonize(cont, method='vertex_clusters', sampling_dist=50, output='swc')
swc

  0%|          | [00:00<?, 4/4it, ?it/s, epsilon 1
Clustering: 100%|██████████| 1012/1012 [00:00<00:00, 338244.93it/s]

   node_id  parent_id         x         y         z radius
0        0         -1 -0.036033  0.397961  0.237208   None
1        1         -1 -0.000225  0.145005  0.048537   None
2        2         -1  0.036035  0.397961  0.237208   None